#scrollPane .label{
    -fx-background-color: rgba(161, 161, 161, 0.44);
    -fx-text-fill:white;
    -fx-padding: 0 5 0 5;
    -fx-background-radius: 5 5 5 5;
}

#scrollPane .button{

    -fx-background-radius: 5 5 5 5;
}

#chatbox{
    -fx-background-color: #333333;
}
#textField{
    -fx-prompt-text-fill: #757575;
}

.flowpane {
    -fx-padding: 0 0 0 10;
    -fx-background-radius: 5 5 5 5;
    -fx-hgap: 4;

}
